@model Person
<h2>Greeting using ViewBag: Hello @ViewBag.FirstName @ViewBag.LastName!</h2>
<h2>Greeting using ViewData: Hello @ViewData["FirstName"] @ViewData["LastName"]!</h2>
<h2>Greeting using TempData: Hello @TempData["FirstName"] @TempData["LastName"]!</h2>
<h2>Greeting using Model: Hello @Model.FirstName @Model.LastName!</h2>